.form {
  padding: 20px;
  font-family: inherit;
  color: #444;
  font-size: 16px;
  line-height: 26px;
  &--submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.form__label {
  padding-bottom: 6px;
  &::after {
    content: " *";
    color: red;
  }
}

.form__input {
  width: 338px;
  border: 1px solid #f1f4f9;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 26px;
  font-family: inherit;
  padding: 8px 0 8px 16px;
  &::placeholder {
    color: #c3cad6;
    font-size: 16px;
    line-height: 26px;
    font-family: inherit;
    padding: 8px 0 8px 0;
    box-sizing: border-box;
  }
  &:placeholder-shown {
    color: #c3cad6;
    font-size: 16px;
    line-height: 26px;
    font-family: inherit;
    padding: 8px 0 8px 16px;
    box-sizing: border-box;
  }
  &--registration {
    max-width: 100%;
  }
  &--code {
    max-width: 261px;
  }
}

.form__error {
  display: none;
  &--invalid {
    display: block;
    color: #ff0000;
  }
}

.form__error-phone {
  color: #ff0000;
  display: none;
  &--invalid {
    display: block;
  }
}

.form__error-code {
  color: #ff0000;
  display: none;
  &--invalid {
    display: block;
  }
}

.form__fieldset {
  border: 0;
  padding: 0;
  margin: 0 0 14px;
}

.form__fieldset-password {
  margin-bottom: 42px;
}

.form__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 591px;

  padding: 0 48px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.form__title {
  color: #6e7781;
}

.form__description {
  color: #c3cad6;
  font-size: 14px;
  line-height: 21px;
  &--submit {
    margin: 0;
    max-width: 162px;
  }
}

.form__button {
  background: transparent;
  border: none;
  margin: 0;
  font-family: inherit;
  padding: 9px 17px;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  box-sizing: border-box;
}

.form__submit {
  background: #3464e0;
  border: 1px solid #3464e0;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
  font-family: inherit;
}

@media (max-width: 500px) {
  .form__input {
    width: 95%;
  }
  .form__fieldset-checkboxes {
    width: 80%;
  }
  .form__fieldset-controls--registration {
    display: flex;
    min-height: 135px;
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding: 0;
  }
  .form__reject {
    width: 180px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
