dialog {
    background-color: transparent;
    border: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.popup {
    z-index: 2;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding: 30px 70px;
    background: #fff;
    border-radius: 4px;
    color: #444;
    position: relative;
    display: flex;
    opacity: 1;
    animation: scaleUp 0.5s ease-in-out;
    box-sizing: border-box;
    &::before {
        content: "";
        position: absolute;
        width: calc(100% - 40px);
        height: 100%;
        top: -20px;
        left: 20px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 4px;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        width: calc(100% - 20px);
        height: 100%;
        top: -10px;
        left: 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        z-index: -1;
    }
}

.popup-success, .popup-sms, .popup-fail {
    display: none;
}

.popup--visible {
    display: block;
}

.popup__title {
    margin-top: 0;
    font-weight: normal;
}

.popup__description {
    color: #c3cad6;
    font-size: 16px;
    margin: 0;
    margin-bottom: 1rem;
}

.popup__form {
    width: 261px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__button {
    &--submit {
        width: 100%;
        background-color: #1f4fcc;
        color: white;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    &--success {
        width: 100%;
        background-color: #229e6a;

        color: white;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    &--fail {
        background-color: #1f4fcc;
        color: white;
        border-radius: 4px;
        margin-bottom: 20px;
        width: 100%;
    }
}

.popup__close-button {
    color: #333;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;

    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

@keyframes scaleUp {
    from {
        transform: scale(0) ;
        opacity: 0;
    }
    to {
        transform: scale(1) ;
        opacity: 1;
    }
}
