/* Russia - regular */
@font-face {
  font-family: "Russia";
  src: url("../fonts/Russia.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Russia.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Russia.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/Russia.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/Russia.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/Russia.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
